@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h3 class="text-center">@ViewData["Title"]</h3>

<div class="container w-75 mt-3">
    <p>
        Bu Gizlilik Politikası, alisayar.com ("biz", "bizim" veya "sitemiz") tarafından işletilen alisayar.com ziyaretçileri için gizliliği nasıl ele aldığımızı açıklamaktadır. Bu politika, sitemizi kullanarak veya bizimle etkileşimde bulunarak toplanan kişisel bilgilerin nasıl işlendiğini anlamanıza yardımcı olmak için hazırlanmıştır.
    </p>

    <h4>Hangi Bilgileri Topluyoruz</h4>
    <p>
        <strong>Kişisel Bilgiler:</strong> Adınız, e-posta adresiniz ve diğer kişisel bilgileriniz gibi bilgileri, bize özellikle form doldurarak sağladığınızda toplayabiliriz.
        <br>
        <strong>Otomatik Olarak Toplanan Bilgiler:</strong> Tarayıcınızın IP adresi, tarayıcı türü, ziyaret ettiğiniz sayfalar, tıkladığınız bağlantılar gibi otomatik olarak toplanan bilgileri kullanarak sitemizi nasıl kullandığınızı anlayabiliriz.
    </p>

    <h4>Çerez Kullanımı</h4>
    <p>
        Sitemiz, çerezleri (küçük metin dosyalarını) kullanabilir. Çerezler, siteyi kullanımınızı izlememize ve deneyiminizi kişiselleştirmemize yardımcı olabilir. Tarayıcı ayarlarınızı değiştirerek çerezleri reddedebilirsiniz, ancak bu durumda bazı site özelliklerinin düzgün çalışmayabileceğini unutmayın.
    </p>

    <!-- Diğer bölümleri de benzer şekilde devam ettirebilirsiniz -->

    <h4>İletişim</h4>
    <p>
        Bu Gizlilik Politikası hakkında sorularınız varsa, lütfen bizimle iletişime geçmekten çekinmeyin: iletisim@alisayar.com
    </p>
</div>


