body {
    background-color: #F6F6F6;
}

* {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#side_nav {
    background: #ffffff;
    min-width: 250px;
    min-height: 100vh;
    transition: all 300ms;
    position: fixed;
}

    #side_nav .active {
        background: #FFE096;
        border-radius: 6px;
        color: #E48400;
    }

.content {
    min-height: 100vh;
    width: 100%;
    margin-left: 250px;
}

.sidebar li a {
    color: grey;
    font-size: 0.9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    transition-duration: 150ms;
}

    .sidebar li a:hover {
        background: #E0E0E0;
        border-radius: 6px;
        transition-duration: 150ms;
    }

.login-container {
    width: 30%;
    min-height: 100vh;
    margin: 0 auto;
}
.register-container {
    min-height: 100vh;
    margin: 0 auto;
}

.baslik {
    font-size: 0.7rem;
    color: #9C9C9C;
    text-transform: uppercase;
}

.menu-icon {
    margin-right: 1.5rem;
}

.login-btn {
    background: #FFE096;
    transition-duration: 150ms;
}
    .login-btn:hover {
        background: #E48400;
        color: white;
    }
.account:hover{
    cursor: pointer;
}

.profile-picture {
    border-style: solid;
    border-color: #E48400;
    border-width: 1px;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    object-fit: cover;
}
.dropdown-menu ul li a {
    color: grey;
    font-size: 0.9rem;
    transition-duration: 150ms;
}
    .dropdown-menu ul li a:hover {
        background: #E0E0E0;
        border-radius: 6px;
        transition-duration: 150ms;
    }




    @media(max-width: 992px) {
        #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
   
    .login-container {
        width: 75%;
        margin: 0 auto;
    }
    .content {
        min-height: 100vh;
        width: 100%;
        margin-left: 0;
    }
}


