@model AddPostDto

@{
    ViewData["Title"] = "Yeni Makale";
}



<div class="card rounded-5 p-4 mt-4">

    <form asp-controller="Post" asp-action="Add" method="post" enctype="multipart/form-data">


        <div class="p-3 text-center">
            <img class="mx-auto" id="image-preview" src="#" alt="Resim önizleme" style="display: none; width: 65%; object-fit:cover">
        </div>

        <div class="row mt-3">
            <div class="mb-3 col-6">
                <label for="category" class="form-label">Kategori</label>
                <select id="category" class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label for="image" class="form-label">Resim</label>
                <div class="d-flex gap-3 align-items-center justify-content-between">
                    <input asp-for="ImageFile" type="file" id="image" name="ImageFile" class="form-control">
                    <a id="kaldirbtn" class="btn btn-sm btn-danger" onclick="removeImage()" style="display: none">Kaldır</a>
                </div>

            </div>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Başlık</label>
            <input asp-for="Title" type="text" class="form-control" id="title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="editor" class="form-label">İçerik</label>
            <textarea asp-for="Content" id="editor"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="d-flex gap-3 align-items-center mt-4">
            <div class="form-check">
                <input asp-for="IsActive" type="checkbox" class="form-check-input" id="active">
                <label class="form-check-label" for="active">Yayında</label>
            </div>
            <button type="submit" class="btn btn-success">Kaydet</button>
        </div>

    </form>

</div>

<!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/gikupguzfzf9zngbl73ttdzloqwy8s8bpnq1xd0ybhrzg4s6/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
<script>tinymce.init({
        selector: 'textarea',
        plugins: 'codesample image link lists media wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ],
        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
    });</script>


<script>// JavaScript kodu, resim seçildiğinde önizleme alanını günceller
    document.getElementById('image').addEventListener('change', function () {
        var fileInput = this;
        var previewImage = document.getElementById('image-preview');
        var btn = document.getElementById('kaldirbtn');

        // Resim seçilmediyse veya tarayıcı desteklemiyorsa işlemi durdur
        if (fileInput.files.length === 0 || !window.FileReader) {
            return;
        }

        // Resmi oku ve önizleme alanına ekle
        var reader = new FileReader();
        reader.onload = function (e) {
            previewImage.src = e.target.result;
            previewImage.style.display = 'block';
            btn.style.display = 'block';
        };
        reader.readAsDataURL(fileInput.files[0]);
    });
    // JavaScript kodu, resmi kaldırdığında önizleme alanını temizler
    function removeImage() {
        var fileInput = document.getElementById('image');
        var previewImage = document.getElementById('image-preview');
        var btn = document.getElementById('kaldirbtn');
        btn.style.display = 'none';
        previewImage.style.display = 'none';
        // Resim seçme alanını temizle
        fileInput.value = '';

        // Önizleme alanını temizle
        previewImage.src = '#';
    }</script>